* {
    font-size: calc(22px + (80 - 22) * (100vw - 80vw) / 4000);
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

h1 {
    font-size: calc(42px + (80 - 42) * (100vw - 80vw) / 4000);
}

a {
    cursor: pointer;
}

@font-face {
    font-family: 'Nexa-Light';
    src: url("/fonts/Nexa-Light.woff") format('woff');
}

@font-face {
    font-family: 'Nexa-Bold';
    src: url("/fonts/Nexa-Bold.woff") format('woff');
}

body {
    font-family: 'Nexa-Light';
    /* overflow: hidden; */
    cursor: none;
    width: 100vw;
}

::selection {
    color: #fff;
    background-color: #1825AA;
}

#name {
    font-family: 'Nexa-Bold';
}

/* Cursor properties */

.cursor {
    position: absolute;
    transform: translateX(-10vw) translateY(-10vh);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 4px 26px 0 rgba(8,9,28,0.5);
    z-index: 999999;
    pointer-events: none;
}

.cursor_follower {
    position: absolute;
    transform: translateX(50vw) translateY(51.5vh);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1825AA;
    z-index: 2;
    pointer-events: none;
}

/* Text style */

.prez span {
    color: rgba(24, 36, 170);
    transition: all 800ms;
}

.content-text a:hover {
    color: #1825AA;
    text-decoration-color: #1825AA;
    transition: all 800ms;
}

a,
menu {
    text-decoration: none;
    color: #08091c;
}

.prez h1 {
    line-height: 2em;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(5, 7, 38);
    cursor: none;
    opacity: 1;
    transition: ease-in 0.6s;
    z-index: 0;
}

#particles-js.ghost {
    opacity: 0.6;
    transition: all ease-in-out 0.4s;
}


/* Containers properties */

.canvas-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 7, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prez {
    cursor: none;
    color: rgba(255, 255, 255);
    transition: all 800ms;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prez.testcolor {
    color: rgb(255, 255, 255);
    cursor: none;
    transform: translateY(-20vh);
}

.prezsecond {
    transform: translateY(5vh);
    opacity: 0;
    transition: all ease-out 1s 0.4s;
    text-align: center;
}

.prezsecond.ok {
    opacity: 1;
    transform: translateY(-5vh);

}

.prezsecond p {
    color: #08091c;
    font-style: italic;
    z-index: 1;
}

.prezsecond.ok p {
    color: white;
}

span.testcolor {
    color: #1825AA;
}

/* TESTING */

.clicme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mobile{
    opacity: 0;
}

.link.byebye {
    transform: translateY(-40vh);
    opacity: 0;
}

.link {
    position: absolute;
    top: 80%;
    transition: all 600ms;
    transform: translateY(0vh);
    opacity: 1;
}

p {
    color: inherit;
    text-decoration: none;
    color: #fff;
}

.link::after {
    content: "";
    display: block;
    height: 3px;
    border-radius: 50px;
    position: absolute;
    background-color: #1825AA;
    animation: underlineAnimation 3s ease-in-out infinite;
}

@keyframes underlineAnimation {
    0% {
        width: 10%;
        left: 0;
    }
    25% {
        width: 100%;
        left: 0;
    }
    50% {
        width: 10%;
        left: 90%;
    }
    75% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 10%;
        left: 0;
    }
}

.wrap-content {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70%;
}

.content-text a:link {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #1825AA;
}

.content-text {
    width: 60%;
}

.contact {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #1825AA;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: 'Nexa-Bold';

}

.email a {
    display: inline-block;
    padding: 0.8em;
    text-decoration: none;
    /* color: #fff; */
    position: relative;
}

a:after,
a:before {
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    content: '';
    position: absolute;
}

a.meets:after,
a.meets:before {
    height: 25px;
    width: 25px;
    border-style: solid;
    box-sizing: border-box;
}

a.meets:after {
    border-width: 2px 0 0 2px;
    top: 0;
    left: 0;
}

a.meets:before {
    border-width: 0 2px 2px 0;
    bottom: 0;
    right: 0;
}

a.meets:hover:after,
a.meets:hover:before {
    width: 100%;
    height: 100%;
}

.description h2 {
    font-family: 'Nexa-Bold';
    color: #1825AA;
    margin-left: 0;

}

.content-text p {
    display: block;
    color: #000;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

/* FOOTER */
.footer {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer .credits p {
    font-size: 16px;
    color: #000;
}

.footer .credits a {
    font-size: 16px;
    color: #000;
    transition: all ease-in-out 0.6s;
}

.footer .credits a:hover {
    color: #1825AA;
}

/* ---- Scroller indicator---- */
.scroller {
    width: 4px;
    background: rgba(255, 255, 255, 0.04);
    position: absolute;
    bottom: 0;
    height: 180px;
    left: 50%;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all 2s;
    border-radius: 50px;
}

.scroller.testcolor {
    opacity: 1;
    transition: all 600ms;
}
.scroller::before {
    content: '';
    position: absolute;
    height: 42px;
    background: #fff;
    width: 4px;
    animation: scroller 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
    border-radius: 50px;

}
@keyframes scroller {
    0% {
        transform: translateY(-42px);
    }
    100% {
        transform: translateY(200px);
    }
}

/* TESTING BUTTON */

  .btnb{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bubbly-button {
    /* font-size: 1em;
    padding: 1em 2em;
    margin-top: 100px;
    margin-bottom: 60px; */
    -webkit-appearance: none;
    appearance: none;
    background-color: #1825AA;
    color: #fff;
    border-radius: 200px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  }
  .bubbly-button:focus {
    outline: 0;
  }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%), radial-gradient(circle, #1825AA 20%, transparent 20%);
    background-size: 5% 5%, 20% 20%, 18% 18%, 20% 20%, 5% 5%, 10% 10%, 20% 20%;
  }
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: #152094;
    box-shadow: 0 2px 25px rgba(24, 36, 170, 0.34);
  }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }
  