/* MEDIA QUERIES */
@media screen and (max-width: 900px) {

    * {
        cursor: auto;
    }

    body {
        /* overflow: hidden; */
    }

    .desktop{
        opacity: 0;
    }
    
    .mobile{
        position: absolute;
        top: 80%;
        opacity: 1;
        transition: all 600ms;
        transform: translateY(0vh);
        cursor: none;
    }

    .mobile.byebye {
        transform: translateY(-40vh);
        opacity: 0;
    }

    .item {
        height: 24%;
    }

    nav h2 {
        transform: rotate(-90deg);
    }

    .menu {
        min-width: 80%;
    }

    .cursor {
        display: none;
    }

    .cursor_follower {
        display: none;
    }

    .prezsecond {
        width: 90%;
    }

    /* .prezsecond p{
        font-size: 20px;  
    } */

    .wrap-content {
        width: 100vw;
        height: 120vh;
        margin-top: 10%;

    }

    .content-text {
        margin: 0;
        width: 90%;
    }
    .description {
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #1825AA;
        font-weight: 900;
    }

}

/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

} */
