
@font-face {
    font-family:"NexaLight";
    src:url("Nexa Light.woff2") format("woff2"),url("Nexa Light.woff") format("woff"),url("Nexa Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        